h1{
    color: red;
    font-style: italic;
    font-size: 80px;
    text-align: center;
}
h2{

    font-size: -webkit-xxx-large;
    color: red;
    font-style: oblique;
}
h3{

    font-size: x-large;
    color: red;
    font-style: initial;
}
h4, h5{
    font-size: larger;
    color: white;
}
.name{
    color: red;
    font-size: 30px;
}
.school{
    color: green;
}
p {
    color:skyblue

}
ol{

    font-size: larger;
    color: white;
    font-style: italic;
}
img{
    float: inline-start;
}
a.wow fadeInUp btn btn-default hvr-bounce-to-top smoothScroll{
    animation: reverse;
    margin: 2rem;
    padding: 2rem;
    border: #eeee;
    border-radius: 1rem;
    
}
nav{
    height: 0 auto  ;
    background: #eeee;
    backface-visibility: visible;
    background-position: 4rem;
    padding: 1rem;
    width: 1024px;
    margin: 0 auto;

}
nav ul{
    margin:0;
    padding:0;
}
nav ul style{
    list-style: none;
}