h1  {
  color: red;
  font-style: italic;
  text-align: center;
}
h2 {
  color: blue;
  font-style: oblique;
  font-family: sans-serif;
  text-align: center;
}
body {
  color: black;
  text-align: center;
  background-color: black;
}
p{
  color: hotpink;
}
li{
  color: crimson;
  font-size: x-large;
}
ol{
  color: crimson;
  text-align: center;
}
img{
  float: none;
}